body{
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(24, 172, 5);
    background-image: url(images/background.jpg);
    background-size: cover;
}